/*************To skip recalculating change these parameters ******************/
/* These parameters decide whether (1) or not (0) to recalculate various steps of the process or use previous files instead */
params.reid_frames = false        /* search through entire video and record the position and stats of visable checkerboards */
params.refind_frames = false        /* search through entire video and record the position and stats of visable checkerboards */
params.recalc_left = false          /* recalculate undistort parameters for left camera versus using file, which must be in expected location */
params.recalc_right = false         /* recalculate undistort parameters for right camera versus using file, which must be in expected file location */

params.reid_pairs = false         /* search through entire video pair and record the position and stats of visable checkerboards */
params.refind_pairs = false         /* search through entire video pair and record the position and stats of visable checkerboards */
params.recalc_pairs = false         /* recalculate stereoMap parameters versus using file, which if used must be in expected location */
        
/* Camera and checkerboard parameters */
params.checkdim = "8 6"
params.framesize = "640 480"
params.squaresize = 21
    
/* Parameters for finding undistortion parameters for left camera video from checkerboards */
params.L_n = 50                 /* Number of checkerboard frames to keep */
params.L_dist = 100             /* Distance threshold for checkerboards (remove those too far from camera) higher value are CLOSER to camera */
    
/* Parameters for finding checker frames to calc undistortion parameters for right camera video from checkerboards */
params.R_n = 50                 /* Number of checkerboard frames to keep */
params.R_dist = 100             /* Distance threshold for checkerboards (remove those too far from camera) higher value are CLOSER to camera */
    
/* Parameters for finding checker frames to calc rectification parameters from checkerboards in paired camera views */
params.P_n = 30                 /* Number of checkerboard frame pairs to keep */
params.P_dist = 80              /* Distance threshold for checkerboards (remove those too far from camera) higher value are CLOSER to camera */
params.P_move = 3.5               /* Movement threshold value (remove frames that moved position from previous frame). Higher values allow more movement */
