/*************To skip recalculating change these parameters ******************/
/* These parameters decide whether (1) or not (0) to recalculate various steps of the process or use previous files instead */
params.reid_frames = false        /* search through entire video and record the position and stats of visable checkerboards */
params.refind_frames = true        /* use parameters below to decide which frames to use in calibration */
params.recalc_left = true          /* recalculate undistort parameters for left camera versus using file, which must be in expected location */
params.recalc_right = true         /* recalculate undistort parameters for right camera versus using file, which must be in expected file location */

params.reid_pairs = false         /* search through entire undistorted video pair and record the position and stats of visable checkerboards */
params.refind_pairs = false         /* use parameters below to decide which pairs to use */
params.recalc_pairs = false         /* recalculate stereoMap parameters versus using file, which if used must be in expected location */

/* Camera and checkerboard parameters */
params.checkdim = "9 6"
params.framesize = "640 480"
params.squaresize = 21
    
/* Parameters for finding undistortion parameters for left camera video from checkerboards */
params.L_n = 30                 /* Number of checkerboard frames to keep */
params.L_dist = 45             /* Distance threshold for checkerboards (remove those too far from camera) higher value are CLOSER to camera.*/
			/*30 45 was good combo*/    

/* Parameters for finding checker frames to calc undistortion parameters for right camera video from checkerboards */
params.R_n = 11                 /* Number of checkerboard frames to keep */
params.R_dist = 120             /* Distance threshold for checkerboards (remove those below threshold  = too far from camera) */
				/* Lower threshold to keep more boards*/
			/*32 93 is decent 30 95 is noticably worse*/
			/*10 120 is similarly decent compared to 32 93 then 15 120 is bad again*/    
/* Parameters for finding checker frames to calc rectification parameters from checkerboards in paired camera views */
params.P_n = 15                 /* Number of checkerboard frame pairs to keep */
params.P_dist = 68              /* Distance threshold for checkerboards (remove those too far from camera) higher value are CLOSER to camera */
				/* Lower threshold to keep more boards*/
params.P_move = 2.5            /* Movement threshold value (remove frames that moved position from previous frame). Higher values allow more movement */
