params.metadata = "$baseDir/analyses/bocas2018/bocas2018_calibration.csv"

/*************To skip recalculating change these parameters ******************/
/* These parameters decide whether (1) or not (0) to recalculate various steps of the process or use previous files instead */
params.reid_frames = 0        /* search through entire video and record the position and stats of visable checkerboards */
params.refind_frames = 0        /* search through entire video and record the position and stats of visable checkerboards */
params.recalc_left = 0          /* recalculate undistort parameters for left camera versus using file, which must be in expected location */
params.recalc_right = 0         /* recalculate undistort parameters for right camera versus using file, which must be in expected file location */

params.reid_pairs = 0 
params.refind_pairs = 1         /* search through entire video pair and record the position and stats of visable checkerboards */
params.recalc_pairs = 1         /* recalculate stereoMap parameters versus using file, which if used must be in expected location */

params.watchvideo = 0
        
/* Camera and checkerboard parameters */
params.checkdim = "8 6"
params.framesize = "640 480"
params.squaresize = 21
    
/* Parameters for finding undistortion parameters for left camera video from checkerboards */
params.L_n = 50                 /* Number of checkerboard frames to keep */
params.L_dist = 60             /* Distance threshold for checkerboards (remove those too far from camera) higher value are CLOSER to camera */
    
/* Parameters for finding undistortion parameters for right camera video from checkerboards */
/*********Right camera did not have good boards for calibration -- copied over left board parameters*/
params.R_n = 40                 /* Number of checkerboard frames to keep */
params.R_dist = 65             /* Distance threshold for checkerboards (remove those too far from camera) higher value are CLOSER to camera */
    
/* Parameters for finding rectification parameters from checkerboards in paired camera views */
params.P_n = 25                 /* Number of checkerboard frame pairs to keep */
params.P_dist = 55              /* Distance threshold for checkerboards (remove those too far from camera) higher value are CLOSER to camera */
params.P_move = 4               /* Movement threshold value (remove frames that moved position from previous frame). Higher values allow more movement */
